<h1 class="sixteen columns">Address Book</h1>
<% @addresses.each do |address| %>
  <% next if address == spree_current_user.bill_address %>
  <% next if address == spree_current_user.ship_address %>
  <div class="columns four address-book">
    <fieldset>
      <span class="right"><%= link_to 'Delete', address, method: :delete,
        data: { confirm: 'Are you sure?' } %></span>
      <span class="right"><%= link_to 'Edit', edit_address_path(address) %></span>
      <br>
      <%= render :partial => 'spree/shared/address', locals: { address: address } %>
  </div>
<% end %>

<br class="clear">
<div class="sixteen columns">
  <%= button_to 'New Address', new_address_path, method: :get %>
</div>
<br class="clear">

<div class="columns eight">
  <fieldset class="integration">
    <legend align="center">Less Annoying CRM Integration</legend>
    <%= form_tag addresses_path, method: :post do %>
      <p class="field">
        <%= label_tag 'UserCode', 'UserCode' %>
        <%= text_field_tag 'UserCode' %>
      </p>
      <p class="field">
        <%= label_tag 'APIToken', 'APIToken' %>
        <%= text_field_tag 'APIToken' %>
      </p>
      <p>
        <%= submit_tag 'Import Contacts' %>
      </p>
    <% end %>
  </fieldset>
</div>
