<h1>Templates</h1>

<table>
  <tbody>
    <% @templates.each do |template| %>
    <tr>
      <td><%= template.title %></td>
      <td><%= link_to 'Edit', edit_template_path(template) %></td>
      <td><%= link_to 'Delete', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Send a letter with this template', product_path('send-a-letter', template: template.content) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template', new_template_path %>
