<%= form_for :order, url: populate_orders_path, html: { multipart: true } do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <% if @product.property 'cover' %>
      <h4>Upload a Picture</h4>
      <p><%= file_field_tag :cover %></p>
    <% end %>

    <% if @product.property 'content' %>
      <h4>How would you like to submit your message?</h4>
      <div id="message-tabs">
        <ul>
          <li><a href="#upload-content">Upload a Message</a></li>
          <li><a href="#editor">Write a Message</a></li>
        </ul>

        <div id="upload-content" class="container">
          <p><%= file_field_tag :content_file %></p>
        </div>

        <div id="editor">
          <p><%= text_area_tag 'content', @template, id: 'rich-text-editor' %></p>
        </div>
      </div>
    <% end %>

    <h4>Who would you like to send it to?</h4>
    <div id="address-tabs">
      <ul>
        <li><a href="#upload-address">Upload Addresses</a></li>
        <% if @addresses.any? %><li><a href="#select-address">Address Book</a></li><% end %>
        <li><a href="#new-address">New Address</a></li>
      </ul>

      <div id="upload-address">
        <p>
          <%= file_field_tag :addresses %>
          <% if spree_current_user %>
            <%= check_box_tag :save_to_address_book, true, false, id: 'save' %>
            <%= label_tag :save_to_address_book, nil, for: 'save' %>
          <% end %>
        </p>
      </div>

      <% if @addresses.any? %>
        <div id="select-address" class="container">
          <% @addresses.each do |address| %>
            <% next if address == spree_current_user.bill_address %>
            <div class="address-book">
              <fieldset>
              <span class="right">
                <%= check_box_tag :address_ids, address.id, false, name: 'address_ids[]' %>
              </span>
              <%= render :partial => 'spree/shared/address', locals: { address: address } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div id="new-address" class="container">
        <%= f.fields_for('address_attributes', @address) do |form| %>
          <div style="width:100%" data-hook="shipping_fieldset_wrapper">
            <fieldset id="shipping" data-hook>
            <legend align="center">Recipient Address</legend>
            <%= render :partial => 'spree/address/form', :locals => { form: form,
              address_type: 'shipping', address: @address } %>
            <% if spree_current_user %>
              <%= check_box_tag :save_to_address_book, true, false, id: 'save-2' %>
              <%= label_tag :save_to_address_book, nil, for: 'save-2' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <%= f.fields_for('return_address', @address) do |form| %>
      <div class="columns fifteen" data-hook="shipping_fieldset_wrapper">
        <fieldset id="return" data-hook>
        <legend align="center">Return Address</legend>
        <%= render :partial => 'spree/address/form', :locals => { form: form,
          address_type: 'shipping', address: @address } %>
        <% if spree_current_user.try(:bill_address) %>
          <%= check_box_tag :use_billing_address, true, true %>
          <%= label_tag :use_billing_address %>
        <% end %>
      </div>
    <% end %>

    <br class="clear">
    <h4>What date would you like it sent?</h4>
    <p><%= date_field_tag :deliver_on, Date.today, min: Date.today %></p>

    <% if @product.variants_and_option_values_for(current_pricing_options).any? %>
      <div id="product-variants" class="columns five alpha">
        <h6 class="product-section-title"><%= Spree.t(:variants) %></h6>
        <ul>
          <% @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>
            <li>
              <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_for(current_pricing_options)  %>
              <%= label_tag "variant_id_#{ variant.id }" do %>
                <span class="variant-description">
                  <%= variant_options variant %>
                </span>
                <% if variant_price variant %>
                  <span class="price diff"><%= variant_price variant %></span>
                <% end %>

                <% unless variant.can_supply? %>
                  <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                <% end %>
              <% end %>
            </li>
          <% end%>
        </ul>
      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <% if @product.price_for(current_pricing_options) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns sixteen <%= !@product.has_variants? ? 'alpha' : 'omega' %>">

        <div id="product-price">
          <h6 class="product-section-title"><%= Spree.t(:price) %></h6>
          <div>
            <span class="price selling" itemprop="price">
              <%= display_price(@product) %>
            </span>
            <span itemprop="priceCurrency" content="<%= current_pricing_options.currency %>"></span>
          </div>

          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="http://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
          <% end %>
        </div>

        <div class="add-to-cart">
          <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>
  </div>
<% end %>
<script>
  $(document).ready( () => {
    $('#rich-text-editor').froalaEditor({
      imageManagerPreloader: '/image_manager/loading.gif',
      imageManagerLoadURL: '/image_manager',
      height: 480
    })
    $('#message-tabs').tabs()
    $('#address-tabs').tabs()
    if ('<%= spree_current_user.try(:bill_address) %>') {
      $('#return .inner').hide();
    }
    use_billing_address = $('input#use_billing_address');
    use_billing_address.change(function() {
      return update_return_address(use_billing_address);
    });
    update_return_address = function(use_billing_address) {
      if (use_billing_address.is(':checked')) {
        $('#return .inner').hide();
        return $('#return .inner input, #return .inner select').prop('disabled', true);
      } else {
        $('#return .inner').show();
        $('#return .inner input, #return .inner select').prop('disabled', false);
      }
    };
  })
</script>
