<% if @line_item.cover.exists? %>
  <h2>Cover</h2>
  <%= image_tag @line_item.cover.url(:original) %>
<% end %>
<% if spree_current_user.admin? %>
  <h2>Content</h2>
  <%= @line_item.content %>
<% end %>
<h2>
  <%= link_to 'PDF', proof_path(@line_item.id, format: :pdf)  %>
</h2>
<h2>Addresses</h2>
<% @line_item.addresses.each do |address| %>
  <% next if address == spree_current_user.bill_address %>
  <% next if address == spree_current_user.ship_address %>
  <div class="columns alpha four address-book">
    <fieldset>
      <%= render :partial => 'spree/shared/address', locals: { address: address } %>
    </fieldset>
  </div>
<% end %>
<div class="columns sixteen">
  <%= link_to 'Back', :back %>
</div>
