<% if current_order.try(:checkout_allowed?) %>
  <nav class="columns sixteen">
    <ul id="main-nav-bar" class="inline container" data-hook>
      <li id="link-to-cart" class="columns three" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
      </li>
      <script>Spree.fetch_cart('<%= j spree.cart_link_url %>')</script>
    </ul>
  </nav>
<% end %>
<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline container" data-hook>

    <li class="columns four" data-hook>
      <figure id="logo" class="columns four" data-hook><%= logo %></figure>
      <i id='menu-drop' class="fa fa-bars" aria-hidden="true"></i>
    </li>
    <div id='menu'>
      <li class="columns two" data-hook><%= link_to 'products', '/products' %></li>
      <li class="columns two" data-hook><%= link_to 'about', '/#about' %></li>
      <li class="columns two" data-hook><%= link_to 'contact', '/#contact' %></li>
      <li id="auth" data-hook></li>
    </div>
  </ul>
</nav>
<script>
  $(document).ready( () => {
    $('#menu-drop').click( () => {
      $('#menu').toggle('show')
    })
  })
</script>
