<div class="home">
  <section id="home" class="module parallax parallax-home">
    <div class="dark-back">
      <div class="container">
        <div class="intro">
          <h1>We deliver hassle free mail</h1>
          <div>
            <%= button_to 'Order Now', products_path, method: :get %>
            <h2>100% Satisfaction Guarantee</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="module content">
    <div class="container">
      <h2>Simple Mail in Seconds</h2>
      <div class="one-third column">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <p>Our simple forms, automation and scheduled processes are built to save you time.</p>
      </div>
      <div class="one-third column">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <p>Build, save and store custom letters and templates. You'll be able to send unique items every time.</p>
      </div>
      <div class="one-third column">
        <i class="fa fa-truck" aria-hidden="true"></i>
        <p>Track your items from submittal to delivery. You'll never lose oversight again.</p>
      </div>
    </div>
    <div class="container">
      <div class="one-third column">
        <i class="fa fa-shield" aria-hidden="true"></i>
        <p>Rest easy knowing your data is secure. We use 256-bit SSL encryption to ensure you never have to worry.</p>
      </div>
      <div class="one-third column">
        <i class="fa fa-money" aria-hidden="true"></i>
        <p>You'll save time by creating scheduled mailing, batching, and creating mail merge documents right from your browser.</p>
      </div>
      <div class="one-third column">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <p>Never worry about not being near your desktop, we're 100% mobile friendly.</p>
      </div>
    </div>
  </section>
  <section class="module content testimonials back-1">
    <div class="container">
      <p>"Ed and PostalZen provide a handy and convenient alternative for folks who lack either the time or desire to wait in long lines and bureaucracy. Check it out!"</p>
      <span>Chris - California</span>
    </div>
  </section>
  <section class="module content">
    <div class="container">
      <h2>So how does it work?</h2>
      <div class="one-third column">
        <i class="fa black fa-desktop" aria-hidden="true"></i>
        <h5>Step 1</h5>
        <p>Complete Our Simple Form and Select the Date You Would Like Us to Mail Your Custom Card or Letter.</p>
      </div>
      <div class="one-third column">
        <i class="fa black fa-pencil-square-o" aria-hidden="true"></i>
        <h5>Step 2</h5>
        <p>Add the Text, a Photo, and Customize the Details of Your Letter or Card. (Or Ask Us To Do It For You)</p>
      </div>
      <div class="one-third column">
        <i class="fa black fa-truck" aria-hidden="true"></i>
        <h5>Step 3</h5>
        <p>Submit Your Order and We'll Mail Your Item Anywhere in The U.S. (First Class Mail 3-7 Days)</p>
      </div>
    </div>
  </section>
  <section class="module parallax parallax-home">
    <div class="dark-back">
      <div class="container">
        <h1>Like what you see?</h1>
        <%= button_to 'Try PostalZen', signup_path, method: :get, class: 'try' %>
        <%= button_to 'Request a Demo', 'https://calendly.com/postalzen/product-demo', method: :get %>
      </div>
    </div>
  </section>
  <section class="module content">
    <div class="container">
      <h2>As Seen On</h2>
      <ul id="as-seen-on">
        <li class="columns four"><%= image_tag 'as_seen_on/alaska_startups.png', class: 'light' %></li>
        <li class="columns four"><%= image_tag 'as_seen_on/ces.png' %></li>
        <li class="columns four"><%= image_tag 'as_seen_on/mixergy.jpg', class: 'lighter' %></li>
        <li class="columns four"><%= image_tag 'as_seen_on/patriot_boot_camp.png', class: 'lighter' %></li>
      </ul>
    </div>
  </section>
  <section class="module content back-1" id="about">
    <div class="container">
      <h2>About Us</h2>
      <p>"We built PostalZen with you in mind!"</p>
      <p>Hi I'm Ed. A few years ago, I was overseas and needed to send signed documents home quickly. I scoured the internet to find a truly simple solution and to my surprise, there wasn't a really good fit. There must be a better way... Well, we've found it. Since our humble beginnings, we've grown into full business solution. At the heart of it all, we're here to provide the most convenient mailing service. Give it a try, there isn't a more simple solution.</p>
    </div>
  </section>
  <section id="contact" class="module content back-2">
    <div class="container">
      <h2>Contact Us</h2>
      <p>How can we help you?</p>
      <div class="eight columns sub-section">
        <i class="fa black fa-map-marker" aria-hidden="true"></i>
        <p>911 Washington Ave St Louis, MO 63101</p>
        <p>Contact us anytime, we are dedicated to providing great support.</p>
      </div>
      <div class="eight columns sub-section">
        <i class="fa black fa-mobile" aria-hidden="true"></i>
        <p>Our Number: 877-560-5335</p>
        <p>Our hours are Monday through Friday <br>8 A.M. to 5 P.M. PST</p>
      </div>
  </section>
  <a href="#" class="back-to-top" style="display: inline;">
    <i class="fa fa-arrow-circle-up"></i>
  </a>
</div>
