<!DOCTYPE html>
<html>
  <head>
    <script id="fr-fek">try{(function (k){localStorage.FEK=k;t=document.getElementById('fr-fek');t.parentNode.removeChild(t);})('2fxkmB-11wfxpE2cno==')}catch(e){}</script>
    <title>PostalZen</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render :partial => 'spree/shared/header' %>
    <%= yield %>
  </body>
</html>
